<form
  [formGroup]="createForm"
  (ngSubmit)="formSubmit.emit(createForm.value)"
  class="form"
>
  <ui-expansion-panel [title]="'Настройки'" class="form-item">
    <app-checkbox
      [id]="'allowDiagonalLetter'"
      [formControlName]="'allowDiagonalLetter'"
      [label]="'Разрешить слова по диагонали'"
      class="margin-b-sm"
    ></app-checkbox>

    <app-checkbox
      [id]="'allowDuplicateLetter'"
      [formControlName]="'allowDuplicateLetter'"
      [label]="'Разрешить повторение буквы'"
      class="margin-b-sm"
    ></app-checkbox>

    <app-select
      [id]="'size'"
      [formControlName]="'size'"
      [options]="sizeOptions"
      class="margin-b-sm"
    ></app-select>
  </ui-expansion-panel>

  <button type="submit" class="button primary form-item">Создать игру</button>
</form>
