<div *ngIf="loading; else content" class="page-container">
  <app-loader></app-loader>
</div>

<ng-template #content>
  <app-join-form
    *ngIf="!room"
    (formSubmit)="onJoinSubmit($event)"
  ></app-join-form>

  <div *ngIf="room" class="page-container">
    <app-room-controls
      [message]="roomErrorText"
      class="room-controls"
    ></app-room-controls>

    <ng-container [ngSwitch]="room.state">
      <app-room-field
        *ngSwitchCase="'waitingPlayers'"
        [matrix]="matrix"
        [title]="'Ожидание игроков'"
        [blocked]="true"
      ></app-room-field>

      <app-game-play
        *ngSwitchCase="'game'"
        [room]="room"
        [matrix]="matrix"
        [gameState]="gameState"
        [changedLetter]="changedLetter"
        [errorsCount]="applyWordErrors"
        (letterChanged)="onAddLeter($event)"
        (positionsSelected)="onPositionsSelected($event)"
        (wordApplied)="onApplyWord()"
        (wordCanceled)="onCancelWord()"
      ></app-game-play>

      <app-game-end
        *ngSwitchCase="'gameEnd'"
        [room]="room"
        [matrix]="matrix"
      ></app-game-end>
    </ng-container>
  </div>
</ng-template>
