:host {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 400px;
}

.players-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
