@use "src/styles/device/device";

:host {
  display: block;
}

.page-container {
  padding: 32px 16px;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.room-controls {
  margin-bottom: 12px;
}

@include device.for-mobile {
  .page-container {
    padding: 12px;
  }
}
