<article class="section section_centered">
  <h2 class="section__title">Балда онлайн</h2>

  <div class="form-container">
    <app-create-form
      (formSubmit)="onCreateFormSubmit($event)"
    ></app-create-form>
    <button
      *ngIf="latestRoomId"
      (click)="onOpenLatestRoom()"
      type="button"
      class="button secondary margin-t-sm"
    >
      Продолжить
    </button>
  </div>
</article>

<article class="section section_secondary section_instruction">
  <div class="step">
    <div class="step__icon"></div>
    <div class="step__description">Создай игру</div>
  </div>
  <div class="step">
    <div class="step__icon"></div>
    <div class="step__description">Пригласи друга</div>
  </div>
  <div class="step">
    <div class="step__icon"></div>
    <div class="step__description">Добавь новую букву</div>
  </div>
  <div class="step">
    <div class="step__icon"></div>
    <div class="step__description">Собери слово</div>
  </div>
</article>

<article class="section section_centered">
  <h2 class="section__title">Правила игры</h2>

  <div class="section__description">
    Лингвистическая игра, в которой необходимо составлять слова с помощью букв,
    добавляемых на игровое поле
  </div>

  <div class="section__description">
    За каждое слово игрок получает столько очков, сколько букв содержит это
    слово
  </div>

  <div class="section__description">
    Принимаются существительные в единственном числе
  </div>

  <div class="section__description">
    Не принимаются уже написанные ранее слова
  </div>

  <div class="section__description">
    Чтобы стать победителем наберите больше очков, чем ваш оппонент
  </div>
</article>

<footer class="footer">
  <div class="footer-item">
    Feedback:
    <a class="link" href="mailto:feedback@roman-balda.ru" target="_blank">
      <span class="text-bold">feedback</span>@roman-balda.ru
    </a>
  </div>
  <div class="footer-item">
    Copyright ©2023 <span class="text-secondary">Roman Makarov</span>
  </div>
</footer>
