:host {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  color: var(--text);

  &.highlighted {
    .name {
      color: var(--primary);
    }
  }
}

.name {
  word-break: break-word;
}

.words {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  color: var(--text-secondary);
}

.score__value {
  color: var(--primary);
  font-weight: 600;
}

.score {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px solid var(--secondary);
}
