:host {
  display: flex;
  flex-direction: column;
  color: var(--text);

  &.highlighted {
    .name {
      color: var(--primary);
    }
  }
}

.words {
  flex-grow: 1;
  color: var(--text-secondary);
}

.score__value {
  color: var(--primary);
  font-weight: 600;
}

.score {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px solid var(--secondary);
}
