.text-input {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.75em 1em;
  background: var(--secondary);
  color: var(--text);
  font: inherit;
  line-height: normal;
  border-radius: var(--border-radius-button);

  &.primary {
    border-color: var(--primary);
  }
}
