.text-input {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.75em 1em;
  background: var(--secondary);
  color: var(--text-on-secondary);
  font: inherit;
  line-height: normal;
  border-radius: var(--border-radius-button);

  &::placeholder {
    color: var(--text-on-secondary);
    opacity: 0.5;
  }
}
