:host {
  display: block;
  position: relative;
  width: 100%;
}

.label {
  margin-bottom: 0.3em;
}

.value-container {
  width: 100%;
  padding: 0.5em 0.7em;
  border: 2px solid var(--primary);
  color: var(--text);
  border-radius: var(--border-radius-select);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  background: var(--background);
  overflow: hidden;
  cursor: pointer;
}

.option {
  padding: 0.5em 0.7em;

  &:hover {
    background: var(--secondary);
    color: var(--text-on-secondary);
  }
}
