html {
  --text: #fff;
  --text-secondary: #6b6e70;
  --text-on-primary: #eee;
  --text-on-secondary: #eee;
  --background: #222629;
  --primary: #86c232;
  --secondary: #61892f;
  --error: #f01e46;
}

html.theme-light {
  --text: #070802;
  --text-secondary: #6b6e70;
  --text-on-primary: #eee;
  --text-on-secondary: #fff;
  --background: #f6faeb;
  --primary: #768f24;
  --secondary: #b2c47a;
  --error: #f01e46;
}
