html {
  --text: #ebeaea;
  --background: #080707;
  --primary: #bebfba;
  --secondary: #2f3231;
  --accent: #93929b;
}

html.theme-light {
  --text: #070802;
  --background: #f6faeb;
  --primary: #768f24;
  --secondary: #dcebad;
  --accent: #87a329;
}
