// gray
@media (prefers-color-scheme: light) {
  :root {
    --text: #151414;
    --background: #f8f7f7;
    --primary: #444540;
    --secondary: #cdd0cf;
    --accent: #65646d;

    --static: rgba(225, 225, 225, 0.5);
    --static4: rgba(225, 225, 225, 0.2);
    --static3: rgb(255, 255, 255);
    --static2: #0f0f0f;
    --static5: rgb(24, 172, 122);
    --static6: rgba(0, 0, 0, 0.05);
    --static7: rgba(0, 0, 0, 0.1);
    --static8: rgba(0, 0, 0, 0.05);
    --static9: rgba(0, 0, 0, 0.3);
    --static10: rgba(225, 225, 225);
    --static11: rgba(0, 0, 0, 0.03);
    --static12: rgba(255, 255, 255, 0.8);
    --static13: rgb(235, 235, 235);
    --static14: rgba(0, 0, 0, 0.2);
    --static15: rgba(255, 255, 255, 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ebeaea;
    --background: #080707;
    --primary: #bebfba;
    --secondary: #2f3231;
    --accent: #93929b;

    --static: rgba(0, 0, 0, 0.5);
    --static2: #f0f0f0;
    --static4: rgba(225, 225, 225, 0.2);
    --static3: rgb(22, 22, 22);
    --static5: rgb(24, 172, 122);
    --static6: rgba(255, 255, 255, 0.15);
    --static7: rgba(255, 255, 255, 0.1);
    --static8: rgba(255, 255, 255, 0.05);
    --static9: rgba(255, 255, 255, 0.3);
    --static10: rgb(40, 40, 40);
    --static11: rgba(255, 255, 255, 0.03);
    --static12: rgba(0, 0, 0, 0.8);
    --static13: rgb(40, 40, 40);
    --static14: rgba(255, 255, 255, 0.2);
    --static15: rgba(0, 0, 0, 0.5);
  }
}

// dark green
@media (prefers-color-scheme: light) {
  :root {
    --text: #070802;
    --background: #f6faeb;
    --primary: #768f24;
    --secondary: #dcebad;
    --accent: #87a329;

    --static: rgba(225, 225, 225, 0.5);
    --static4: rgba(225, 225, 225, 0.2);
    --static3: rgb(255, 255, 255);
    --static2: #0f0f0f;
    --static5: rgb(24, 172, 122);
    --static6: rgba(0, 0, 0, 0.05);
    --static7: rgba(0, 0, 0, 0.1);
    --static8: rgba(0, 0, 0, 0.05);
    --static9: rgba(0, 0, 0, 0.3);
    --static10: rgba(225, 225, 225);
    --static11: rgba(0, 0, 0, 0.03);
    --static12: rgba(255, 255, 255, 0.8);
    --static13: rgb(235, 235, 235);
    --static14: rgba(0, 0, 0, 0.2);
    --static15: rgba(255, 255, 255, 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fcfdf7;
    --background: #101405;
    --primary: #c2db70;
    --secondary: #435214;
    --accent: #bad65c;

    --static: rgba(0, 0, 0, 0.5);
    --static4: rgba(225, 225, 225, 0.2);
    --static3: rgb(22, 22, 22);
    --static2: #f0f0f0;
    --static5: rgb(24, 172, 122);
    --static6: rgba(255, 255, 255, 0.15);
    --static7: rgba(255, 255, 255, 0.1);
    --static8: rgba(255, 255, 255, 0.05);
    --static9: rgba(255, 255, 255, 0.3);
    --static10: rgb(40, 40, 40);
    --static11: rgba(255, 255, 255, 0.03);
    --static12: rgba(0, 0, 0, 0.8);
    --static13: rgb(40, 40, 40);
    --static14: rgba(255, 255, 255, 0.2);
  }
}

// another one
:root[data-theme="light"] {
  --text: #13191b;
  --background: #ffffff;
  --primary: #58627e;
  --secondary: #aedfef;
  --accent: #98bd28;

  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #ffdd00;
  --secondarycontrast: #64d97b;
  --accentcontrast: #ff8f8f;

  --static: rgba(225, 225, 225, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(255, 255, 255);
  --static2: #0f0f0f;
  --static5: rgb(24, 172, 122);
  --static6: rgba(0, 0, 0, 0.05);
  --static7: rgba(0, 0, 0, 0.1);
  --static8: rgba(0, 0, 0, 0.05);
  --static9: rgba(0, 0, 0, 0.3);
  --static10: rgba(225, 225, 225);
  --static11: rgba(0, 0, 0, 0.03);
  --static12: rgba(255, 255, 255, 0.8);
  --static13: rgb(235, 235, 235);
  --static14: rgba(0, 0, 0, 0.2);
  --static15: rgba(255, 255, 255, 0.5);
}
:root[data-theme="dark"] {
  --text: #e4eaec;
  --background: #000000;
  --primary: #818ba7;
  --secondary: #104151;
  --accent: #b2d742;

  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #ffdd00;
  --secondarycontrast: #64d97b;
  --accentcontrast: #64d97b;

  --static: rgba(0, 0, 0, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(22, 22, 22);
  --static2: #f0f0f0;
  --static5: rgb(24, 172, 122);
  --static6: rgba(255, 255, 255, 0.15);
  --static7: rgba(255, 255, 255, 0.1);
  --static8: rgba(255, 255, 255, 0.05);
  --static9: rgba(255, 255, 255, 0.3);
  --static10: rgb(40, 40, 40);
  --static11: rgba(255, 255, 255, 0.03);
  --static12: rgba(0, 0, 0, 0.8);
  --static13: rgb(40, 40, 40);
  --static14: rgba(255, 255, 255, 0.2);
  --static15: rgba(0, 0, 0, 0.5);
}
