:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controls {
  width: 100%;
  max-width: 400px;
}

.player-statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
}

.player-statistic {
  &:nth-child(odd) {
    text-align: right;
  }
}
