@use "src/styles/device/device";

:host {
  display: block;
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--rows), 1fr);
  grid-auto-rows: 1fr;
  gap: 6px;
  width: 400px;
  margin: 0 auto;
  font-size: 28px;
  cursor: pointer;
}

@include device.for-mobile {
  .field {
    width: 100%;
  }
}
