:host {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  border: 2px solid var(--secondary);
  text-transform: uppercase;
  aspect-ratio: 1;

  &.filled {
    background: var(--secondary);
    color: var(--text);
  }

  &.highlighted {
    background: var(--primary);
    color: var(--background);
    border-color: var(--primary);
  }

  &.editable {
    &:hover {
      border-color: var(--primary);
    }
  }
}

.input {
  text-align: center;
  text-transform: uppercase;
}
