:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-surface-dark);
  color: var(--color-text-light);
  border: 1px solid #111; // TODO: update
  text-transform: uppercase;
  aspect-ratio: 1;

  &.editable {
    &:hover {
      border-color: white; // TODO: update
    }
  }

  &.highlighted {
    background: lightblue;
  }
}

.input {
  text-align: center;
  text-transform: uppercase;
}
